<div class="viewport fresh_ayase">
    <div class="bigBubble about_bubble">
        <div class="about_text">
            <span class="surprised">ehhh...</span><br />
            how did you find this?!<br />
            <br />
            <span class="standOut">Hi, I'm rin!</span><br />
            I'm not sure how you've stumbled here but welcome!<br />
            Everything here is just stuff I find interesting.<br />
            You can expect to find some projects I've done in my spare time or games I'm playing or anything else I fancy.<br />
        </div>
   </div>
</div>