<div class="viewport">
	<div class="bigBubble">
		<div class="blog_title">rin's blog</div>
		<div class="blog_peek_list">
			<div class="blog_peek">
				<div class="peek_left">
					<div class="peek_date">
						<div class="peek_date_month">apr</div>
						<div class="peek_date_day">21</div>
					</div>
					<div class="peek_tags">
						<div>sample 1</div>
						<div>single</div>
						<div>sample 2</div>
						<div>sample 3</div>
						<div>641</div>
					</div>
				</div>
				<div class="peek_right">
					<div class="peek_title">This is the title</div>
					<div class="peek_img"></div>
					<div class="peek_text">
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
					</div>
				</div>
			</div>
			<div class="blog_peek">
				<div class="peek_left">
					<div class="peek_date">
						<div class="peek_date_month">apr</div>
						<div class="peek_date_day">21</div>
					</div>
					<div class="peek_tags">
						<div>sample 1</div>
						<div>single</div>
						<div>sample 2</div>
						<div>sample 3</div>
						<div>641</div>
					</div>
				</div>
				<div class="peek_right">
					<div class="peek_title">This is the title</div>
					<div class="peek_img"></div>
					<div class="peek_text">
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
						This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated. This is an example post sentence that will be repeated.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<template>
	<div class="blog_peek">
		<div class="peek_left">
			<div class="peek_date"></div>
			<div class="peek_tags"></div>
		</div>
		<div class="peek_right">
			<div class="peek_img"></div>
			<div class="peek_text"></div>
		</div>
	</div>
</template>