<nav class="nav">
        <ul>
        <li><a data-page="home" href="/">あ</a></li>
        <li><a data-page="about" href="/about">about</a></li>
        <li><a data-page="blog" href="/blog">blog</a></li>
        <li><a data-page="onsen" href="/onsen">lastfm</a></li>
        <li><a data-page="jpvid" href="/jpvid">jpvid</a></li>
        <li><a data-page="lovelive" href="/lovelive">love live</a></li>
    </ul>
</nav>