<nav class="nav">
        <ul>
        <li><a data-page="hello" data-url="">あ</a></li>
        <li><a data-page="about" data-url="about">about</a></li>
        <li><a data-page="blog" data-url="blog">blog</a></li>
        <li><a data-page="onsen" data-url="onsen">lastfm</a></li>
        <li><a data-page="jpvid" data-url="jpvid">jpvid</a></li>
    </ul>
</nav>