<nav class="nav">
        <ul>
        <li><a data-page="">あ</a></li>
        <li><a data-page="about">about</a></li>
        <li><a data-page="blog">blog</a></li>
        <li><a data-page="/onsen">lastfm</a></li>
        <li><a data-page="jpvid">jpvid</a></li>
    </ul>
</nav>