<div class="barGraphsBox">
    <div class="songBars"></div>
    <div class="artistBars"></div>
</div>
<div class="timeline">
    <div class="dateBox large"></div>
    <div class="line"></div>
    <div class="audioControls">
        <button onclick="tl_start()">start</button>
        <button onclick="audio_playPause()">play/pause</button>
        <button onclick="audio_prev()">prev</button>
        <button onclick="audio_next()">next</button>
        <button onclick="audio_loadNext()">load</button>
    </div>
    <div class="audioDetails"></div>
</div>
<div class="visualizer"></div>