<div class="barGraphsBox">
    <div class="songBars"></div>
    <div class="artistBars"></div>
</div>
<div class="timeline">
    <div class="dateBox large"></div>
    <div class="line baseline"></div>
    <div class="line overline"></div>
    <div class="audioDetails">
        <div id="np-title"></div>
        <div id="np-artist"></div>
        <!--div id="np-weekPlayCount"></div>
        <div id="np-totalPlayCount"></div-->
    </div>
    <div id="np-week"></div>
    <div class="audioControls">
        <button id="btn-tl-start"><i class="material-icons">repeat</i></button>
        <button id="btn-tl-playpause"><i class="material-icons">play_arrow</i></button>
        <button id="btn-tl-prev"><i class="material-icons">skip_previous</i></button>
        <button id="btn-tl-next"><i class="material-icons">skip_next</i></button>
    </div>
</div>
<div class="visualizer"></div>
