<div id="left-gate-door" class="left-gate door">
    <div class="onsen-title">音</div>
    <div class="onsenLogo">♨</div>
</div>
<div id="right-gate-door" class="right-gate door">
    <div class="onsen-title">線</div>
    <div class="onsenLogo">♨</div>
</div>
<div class="onsen-info">a showcase of my most played songs<br />organized per week</div>
<div class="barGraphsBox">
    <div class="songBars"></div>
    <div class="artistBars"></div>
</div>
<div class="timeline">
    <div class="dateBox large"></div>
    <div class="line baseline"></div>
    <div class="line overline"></div>
    <div id="yearbox"></div>
    <div class="onsen-extra">
        <button id="btn-jump-random" title="random"><i class="material-icons">toys</i></button>
        <button id="btn-time-onsen" title="chronological"><i class="material-icons">access_time</i></button>
        <button id="btn-loved-onsen" title="loved"><i class="material-icons">favorite</i></button>
        <button id="btn-top-onsen" title="top"><i class="material-icons">music_note</i></button>
        <button id="btn-about-onsen" title="about"><i class="material-icons">info</i></button>
    </div>
    <div class="audioDetails">
        <div id="np-week"></div>
        <div id="np-title"></div>
        <div id="np-artist"></div>
        <div id="np-weekPlayCount"></div>
        <div id="np-totalPlayCount"></div>
    </div>
    <div class="audioControls">
        <button id="btn-tl-repeat"><i class="material-icons">repeat</i></button>
        <button id="btn-tl-playpause"><i class="material-icons">play_arrow</i></button>
        <button id="btn-tl-prev"><i class="material-icons">skip_previous</i></button>
        <button id="btn-tl-next"><i class="material-icons">skip_next</i></button>
    </div>
    <div id="bg-cover"></div>
</div>
<canvas class="visualizer"></canvas>
<div id="bg-blur"></div>
