@font-face {
    font-family: Utsukushi;
    src: url("/font/UtsukushiFONT.otf") format("opentype");
}

@font-face {
    font-family: 'Futura Light';
    src: url("/font/futura-light.otf") format("opentype");
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Futura Light', 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    height: 100vh; 
    overflow: hidden;
}

.viewport {
    height: 100vh;
    width: 100vw;
    background-color: black;
    transition: background 0.25s ease-in;
    overflow: auto;   /* don't think it should be done like this */
}

.bigBubble {
    margin: 10vh 5vw;
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    /*background-color: white;*/
    border-radius: 5em;
    overflow-y: hidden;
}

.content {
    width: 100%;
    align-self: center;
}

.row {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/*fonts*/

.jp {
    font-weight: 400;
    font-family: 'Utsukushi';
    letter-spacing: -0.06em;
}

.en {
    font-weight: 100;
    letter-spacing: 0.16em;
    color: white;
    /*text-shadow: #fff 0px 1px 1px;*/
}

.muse .en {
    color: black;
}

.large.jp {
    font-size: 6em;
}

.large.en {
    font-size: 5.75em;
}

.multicolour span:nth-child(1) {
    color: rgb(235, 116, 60);
}
.multicolour span:nth-child(2) {
    color: rgb(84, 166, 216);
}
.multicolour span:nth-child(3) {
    color: rgb(146, 146, 146);
}
.multicolour span:nth-child(4) {
    color: rgb(37, 83, 169);
}
.multicolour span:nth-child(5) {
    color: rgb(246, 205, 56);
}
.multicolour span:nth-child(6) {
    color: rgb(200, 34, 44);
}
.multicolour span:nth-child(7) {
    color: rgb(92, 56, 141);
}
.multicolour span:nth-child(8) {
    color: rgb(130, 167, 59);
}
.multicolour span:nth-child(9) {
    color: rgb(194, 78, 127);
}.multicolour span:nth-child(10) {
    color: rgb(236, 0, 140);
}

/* muse on stage!~! */
.musicStart .normies,
.muse.backstage {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
}

.musicStart .muse {
    opacity: 1;
    max-height: 100vh;
    visibility: visible;
}

.musicStart.viewport {
    background-color: white;
}

.muse .logo {
    padding-top: 1.5em;
    font-size: 5.75em;
}

.muse, .normies {
    transition: opacity 0.5s ease-in;
}

/* kotobomb */
.kotobomb {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
}

.kotobomb img {
    display: block;
    max-width:300px;
	height:auto;
    position:relative;
}

.kotobomb.hiding > img {
    transition: 0.2s;
    left: -200px;
    bottom: -200px;
}

.kotobomb:hover > img {
    transition: 0.2s;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.nav {
    z-index: 99;
}

.nav > ul {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.nav > ul > li {
    display: block;
    padding: 0px 10px;
}

.nav a {
    font-size: 2em;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
}

.nav a:hover {
    color: #CCC;
    border-bottom: 1px solid #ccc;
}

/* blog styles */

.blog .viewport{
    background-color: #fff;
}

.blog .bigBubble {
    flex-direction: column;
}

.blog_peek {
    max-width: 750;
    max-height: 300px;
    display: flex;
    color: black;
    overflow: hidden;
    margin-bottom: 3em;
}

.blog_title {
    width: 750px;
    font-size: 4em;
    margin: 0.5em auto;
    color: black;
}

.blog_peek_list {
    width: 750px;
    margin: auto;
}

.peek_left {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1em;
    box-sizing: border-box;
}

.peek_right {
    flex-basis: 600px;
    flex-grow: 0;
    flex-shrink: 0;
}

.peek_title {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.peek_date {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    background-color: grey;
}

.peek_date_month {
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
}

.peek_date_day {
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
}

.peek_tags {
    padding-top: 1em;
    text-align: right;
}

.peek_tags > div {
    display: inline-block;
    color: #999;
    text-decoration: underline;
}

.peek_text {
    width: 100%;
}

/* about page */

.fresh_ayase {
    background-image: url("/images/fresh_ayase2.png"); 
    background-position-x: -550px;
    background-repeat: no-repeat;
}

.about_text {
    font-size: 1.75em;
    color: white;
    padding: 2em;
    max-width: 600px;
    line-height: 1.5em;
}

.about_text > .surprised {
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.5em;
    vertical-align: text-top;
}

.about_text > .standOut {
    font-size: 1.25em;
    line-height: 1.5em;
}

.about_bubble {
    justify-content: flex-end;
}

/* onsen */
.visualizer {
    bottom: 0px;
    position: absolute;
}

.nbar {
    display: inline-block;
    background-color: #666;
    margin-right: 1px;

    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    transform: scaleY(0);

    -webkit-transition: -webkit-transform 50ms linear;
    -moz-transition: -moz-transform 50ms linear;
    -o-transition: -o-transform 50ms linear;
    transition: transform 50ms linear;

    transform-origin: 50% 100% 0;
}

.timeline {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.timeline .line {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 50%;
    background-color: #666;

}

.timeline .dateBox {
    margin-bottom: 10px;
    width: 180px;
    position: absolute;
    left: 20px;
    bottom: 50%;
    font-size: 2em;
    text-align: right;
}

.timeline .audioControls {
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
    bottom: 50%;
}

.audioDetails > div {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px;
}

.timeline .audioDetails .songMeta-left {
    right: 50%;
    text-align: right;
}
.timeline .audioDetails .songMeta-right {
    left: 50%;
    text-align: left;
}

#np-title {
    margin-bottom: 70px;
    font-size: 3em;
    font-weight: 600;
}

#np-artist {
    margin-bottom: 10px;
    font-size: 2.5em;
}

#np-weekPlayCount {
    margin-bottom: 10px;
}

#np-totalPlayCount {
    margin-bottom: 10px;
}

/* bar graphs */

.songBars {
    position: absolute;
    left: 10px;
    width: 50%;
    z-index: -10;
}

.songBars .bar {
    display: inline-block;
    background-color: #666;
    margin-right: 10px;

    transform-origin: 50% 0 0;
}

.artistBars {
    position: absolute;
    right: 10px;
    width: 50%;
    text-align: right;
    z-index: -10;
}

.artistBars .bar {
    display: inline-block;
    background-color: #666;
    margin-left: 10px;

    transform-origin: 50% 0 0;
}

#onsen nav {
    opacity: 0.2;
}

#onsen nav:hover{
    opacity: 1;
}