@font-face {
    font-family: Utsukushi;
    src: url("/font/UtsukushiFONT.otf") format("opentype");
}

@font-face {
    font-family: 'Futura Light';
    src: url("/font/futura-light.otf") format("opentype");
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Futura Light', 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    height: 100vh; 
    overflow: hidden;
}

.viewport {
    height: 100vh;
    width: 100vw;
    background-color: black;
    transition: background 0.25s ease-in;
    overflow: auto;   /* don't think it should be done like this */
}

.bigBubble {
    margin: 10vh 5vw;
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    /*background-color: white;*/
    border-radius: 5em;
    overflow-y: hidden;
}

.content {
    width: 100%;
    align-self: center;
}

.row {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/*fonts*/

.jp {
    font-weight: 400;
    font-family: 'Utsukushi';
    letter-spacing: -0.06em;
}

.en {
    font-weight: 100;
    letter-spacing: 0.16em;
    color: white;
    /*text-shadow: #fff 0px 1px 1px;*/
}

.light {
    font-weight: 200;
}

.heavy {
    font-weight: 900;
}

.muse .en {
    color: black;
}

.large.jp {
    font-size: 6em;
}

.large.en {
    font-size: 5.75em;
}

@media (max-width: 1000px) {
    .large.jp {
        font-size: 5.2em;
        letter-spacing: -0.13em;
    }

    .large.en {
        font-size: 4.75em;
    }
}

.multicolour span:nth-child(1) {
    color: rgb(235, 116, 60);
}
.multicolour span:nth-child(2) {
    color: rgb(84, 166, 216);
}
.multicolour span:nth-child(3) {
    color: rgb(146, 146, 146);
}
.multicolour span:nth-child(4) {
    color: rgb(37, 83, 169);
}
.multicolour span:nth-child(5) {
    color: rgb(246, 205, 56);
}
.multicolour span:nth-child(6) {
    color: rgb(200, 34, 44);
}
.multicolour span:nth-child(7) {
    color: rgb(92, 56, 141);
}
.multicolour span:nth-child(8) {
    color: rgb(130, 167, 59);
}
.multicolour span:nth-child(9) {
    color: rgb(194, 78, 127);
}
.multicolour span:nth-child(10) {
    color: rgb(236, 0, 140);
}

/* muse on stage!~! */
.musicStart .normies,
.muse.backstage {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
}

.musicStart .muse {
    opacity: 1;
    max-height: 100vh;
    visibility: visible;
}

.musicStart.viewport {
    background-color: white;
}

.muse .logo {
    padding-top: 1.5em;
    font-size: 5.75em;
}

@media (max-height: 700px) {
    .muse .logo {
        padding-top: 0.5em;
    }
}

.muse, .normies {
    transition: opacity 0.5s ease-in;
}

/* kotobomb */
.kotobomb {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
}

.kotobomb img {
    display: block;
    max-width:300px;
	height:auto;
    position:relative;
}

.kotobomb.hiding > img {
    transition: 0.2s;
    left: -200px;
    bottom: -200px;
}

.kotobomb:hover > img {
    transition: 0.2s;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.nav {
    z-index: 99;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav > ul {
    position: relative;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}

.nav > ul > li {
    display: block;
    padding: 0px 10px;
}

.nav a {
    font-size: 2em;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    white-space: nowrap;
}

@media (max-width: 1000px) {
    .nav a {
        font-size: 1.5em;
    }
}

.nav a:hover {
    color: #CCC;
    border-bottom: 1px solid #ccc;
}

/* blog styles */

.blog .viewport{
    background-color: #fff;
}

.blog .bigBubble {
    flex-direction: column;
}

.blog_peek {
    max-width: 750;
    max-height: 300px;
    display: flex;
    color: black;
    overflow: hidden;
    margin-bottom: 3em;
}

.blog_title {
    width: 750px;
    font-size: 4em;
    margin: 0.5em auto;
    color: black;
}

.blog_peek_list {
    width: 750px;
    margin: auto;
}

.peek_left {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1em;
    box-sizing: border-box;
}

.peek_right {
    flex-basis: 600px;
    flex-grow: 0;
    flex-shrink: 0;
}

.peek_title {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.peek_date {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    background-color: grey;
}

.peek_date_month {
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
}

.peek_date_day {
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
}

.peek_tags {
    padding-top: 1em;
    text-align: right;
}

.peek_tags > div {
    display: inline-block;
    color: #999;
    text-decoration: underline;
}

.peek_text {
    width: 100%;
}

/* about page */

#about .viewport::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.fresh_ayase {
    background-image: url("/images/fresh_ayase2.png"); 
    background-position-x: -550px;
    background-repeat: no-repeat;
}

.about_text {
    font-size: 1.75em;
    color: white;
    padding: 2em;
    line-height: 1.5em;
}

.about_text2 {
    font-size: 1.75em;
    color: white;
    padding: 2em;
    max-width: 600px;
    line-height: 1.5em;
}

.about_text2 > .surprised {
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.5em;
    vertical-align: text-top;
}

.about_text2 > .standOut {
    font-size: 1.25em;
    line-height: 1.5em;
}

.about_bubble {
    justify-content: flex-end;
}

.about_bg {
    height: 100vh;
    /*width: 100vw;*/
    /*overflow: auto;*/
    /*background-size: 100%;*/
    /*background-attachment: fixed;*/
}

.about_landscape {
    background-position: center;
}

.about_llbg {
    background-size: cover;
}

.about_me {
    position: relative;
    width: 41.66666667%;
    max-width: 80%;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin: 5%;
}


.about_chara {
    position: relative;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    max-width: 80%;
    max-height: 100%;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: left 10px bottom 0;
    background-position-x: 60%;
}

@media (max-width: 960px) {
    .about_bg {
        background-size: cover;
    }

    .about_chara {
        display: none;
    }
}

/* onsen */
#onsen {
    height: 0;
}

#onsen nav {
    opacity: 0.2;
}

#onsen nav:hover{
    opacity: 1;
}

#onsen nav a:hover{
    opacity: 1;
    color: black;
    border-bottom: 1px solid #000;
}

.visualizer {
    bottom: 0px;
    position: fixed;
    z-index: -10;
}

.nbar {
    display: inline-block;
    /*background-color: #666;*/
    margin-right: 1px;

    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    transform: scaleY(0);

    -webkit-transition: -webkit-transform 50ms linear;
    -moz-transition: -moz-transform 50ms linear;
    -o-transition: -o-transform 50ms linear;
    transition: transform 50ms linear;

    transform-origin: 50% 100% 0;
}

.songColour {
    background-color: #666;
}

.timeline {
    position: fixed;
    bottom: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.timeline .line {
    width: 100%;
    height: 10px;
    position: fixed;
    bottom: 50%;
}
.timeline .baseline {
    background-color: #666;
}
.timeline .overline {
    z-index: 5;
    top: 50%;
    height: 5px;
    width: 100vw;
    transform-origin: 0 100% 0;
}

.timeline .dateBox {
    position: fixed;
    margin-top: 35px;
    top: 50%;
    font-size: 2em;
    width: 180px;
    left: 20px;
    text-align: right;
}

.timeline #yearbox {
    position: fixed;
    margin-bottom: 15px;
    font-size: 0.75em;
    bottom: 50%;
    left: 20px;
}

.timeline #yearbox > a {
    margin: 5px;
    opacity: 0.5;
    cursor: pointer;
}

.timeline #yearbox > a:hover {
    opacity: 1;
}

.onsen-extra button.active,
.timeline #yearbox > a.active {
    animation: blinker 2s linear infinite;
}

.timeline .audioControls {
    margin-top: 35px;
    top: 50%;
    position: fixed;
    right: 20px;
}

#btn-tl-repeat {
    display: none;
}

.onsen-extra {
    position: fixed;
    bottom: 50%;
    right: 20px;
    margin: 5px;
    margin-bottom: 15px;
}

#btn-loved-onsen.active,
#btn-loved-onsen:hover {
    color: red;
}
#btn-jump-random:hover {
    transform: rotate(360deg);
}
#btn-time-onsen:hover,
#btn-top-onsen:hover {
    -webkit-animation-name: shakeit;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    animation-name: shakeit;
	animation-duration: 0.8s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.timeline .onsen-extra button,
.timeline .audioControls button {
    opacity: 0.3;
    transition: all 0.5s ease-in-out 0s;
}

.timeline .onsen-extra:hover button,
.timeline .audioControls:hover button {
    opacity: 0.5;
}
.timeline .onsen-extra button:hover,
.timeline .audioControls button:hover {
    opacity: 1;
}

.timeline .audioControls button.buffering {
    opacity: 0.1;
    color: red;
}

.timeline .onsen-extra button,
.timeline .audioControls button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.audioDetails > div {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 5px;
}

#np-title {
    margin-top: 15px;
    font-size: 5vmin;
    font-weight: 600;
    transform: translateX(-50%);
    text-align: center;
    width: 100vw;
}

#np-artist {
    margin-top: 85px;
    font-size: 4.5vmin;
    transform: translateX(-50%);
    text-align: center;
    width: 100vw;
}

@media (max-width: 1200px) {
    #np-title {
        font-size: 4vmin;
        margin-top: 40px;
    }

    #np-artist {
        font-size: 3.75vmin;
        margin-top: 90px;
    }

    .timeline .dateBox {
        width: 140px;
        font-size: 1.5em;
    }
}

@media (max-width: 700px) {
    #np-title {
        margin-top: 90px;
    }

    #np-artist {
        margin-top: 120px;
    }
}

#np-weekPlayCount {
    margin-top: 9px;
    font-size: 1em;
    left: auto;
    right: 170px;
    text-align: right;
}

#np-totalPlayCount {
    margin-top: 9px;
    font-size: 1em;
    left: auto;
    right: 20px;
    text-align: right;
}

#np-week {
    margin-top: 9px;
    font-size: 1em;
    width: 180px;
    left: 20px;
    text-align: left;
}

#np-weekPlayCount .light,
#np-totalPlayCount .light,
#np-week .light{
    color: #333;
    font-size: 0.85em
}

#bg-cover {
    background-size: cover;
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 50%;
    left: 50%;
    margin: 5px;
    margin-bottom: 20px;
    transform: translateX(-50%);
    border-width: 2px;
    border-style: solid;
    border-color: #aaa;
    box-shadow: 0 0 5px #aaa;
    background-color: #aaa;
    opacity: 0.2;
}

@media (max-height: 700px) {
    #bg-cover {
        width: 200px;
        height: 200px;
    }
}

#bg-blur {
    position: fixed;
    /*z-index: -9999;*/
    z-index: 9;
    background-size: 100vw;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    filter: blur(5px) opacity(50%);
}

#bg-blur.hoverable {
    cursor: pointer;
}

/* bar graphs */
.barWrap {
    display: inline-block;
}

.barWrap .bar {
    background-color: #666;

    -webkit-transition: -webkit-transform 200ms linear;
    -moz-transition: -moz-transform 200ms linear;
    -o-transition: -o-transform 200ms linear;
    transition: transform 200ms linear;

    transform-origin: 50% 0 0;
}

.bar:hover {
    opacity: 1 !important;
}

.barVal {
    padding-top: 5px;
    text-align: center;
    font-size: 0.6em;
    opacity: 0.5;
}

.barVal:empty {
    display: none;
}

.songBars {
    position: absolute;
    left: 10px;
    height: 0px;
    z-index: -10;
}

.songBars .bar {
    margin-right: 10px;
}

.songBars .barVal {
    margin-right: 10px;
}

.artistBars {
    position: absolute;
    right: 10px;
    height: 0px;
    text-align: right;
    z-index: -10;
}

.artistBars .bar {
    margin-left: 10px;
}

.artistBars .barVal {
    margin-left: 10px;
}

.barWrap:hover .barTooltip {
    display: block;
}

.barTooltip {
    display: none;
    position: fixed;
    z-index: 1000;
    padding: 10px;
    background-color: #fff;
    color: #666;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

.door {
    width: 50vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    font-size: 320px;
    background-color: white;
    color: #aaa;
    line-height: 100vh;
}

.door.opened {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.left-gate {
    left: 0;
    text-overflow: clip;
    overflow: hidden;
}

.right-gate {
    left: 50vw;
    text-overflow: clip;
    overflow: hidden;
}

.onsen-title {
    font-size: 240px;
}

.onsen-title,
.onsenLogo {
    width: 0;
    height: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.onsen-info {
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 80px;
    transform: translateX(-50%);
    position: fixed;
    z-index: 11;
    text-align: center;
    color: #ccc;
    
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.left-gate .onsen-title {
    left: calc(50vw - 445px);
    line-height: 80vh;
}
.right-gate .onsen-title {
    left: calc(215px);
    line-height: 120vh;
}

.left-gate .onsenLogo {
    left: calc(50vw - 145px);
}

.right-gate .onsenLogo {
    left: calc(-145px);
}

.onsenLogo:hover {
    cursor: pointer;
}

.left-gate.opened {
    left: -105%;
}

.right-gate.opened {
    left: 105%;
}

.peek {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.left-gate.peek {
    left: -10px;
    box-shadow: 0 0 10px #999;
}

.right-gate.peek {
    left: calc(50vw + 10px);
    box-shadow: 0 0 10px #999;
}

.door.peek .onsenLogo {
    color: red;

    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

@media (max-width: 1000px) {
    .onsenLogo {
        font-size: 120px;
    }

    .left-gate .onsenLogo {
        left: calc(50vw - 60px);
    }

    .right-gate .onsenLogo {
        left: calc(-60px);
    }

    .left-gate .onsen-title {
        left: calc(50vw - 245px);
        line-height: 80vh;
    }

    .right-gate .onsen-title {
        left: calc(115px);
        line-height: 120vh;
    }

    .onsen-title {
        font-size: 120px;
    }
}

@keyframes shakeit{
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes blinker {  
  50% { opacity: 0; }
}

@keyframes bouncing {  
  10% { transform: translateY(-0%); }
  20% { transform: translateY(-3%); }
  30% { transform: translateY(-8%); }
  40% { transform: translateY(-12%); }
  50% { transform: translateY(-15%); }
  60% { transform: translateY(-12%); }
  70% { transform: translateY(-8%); }
  80% { transform: translateY(-3%); }
  90% { transform: translateY(-0%); }
}
