.lost {
	background-color: #FFFFFF;
}

.lost .full-image {
	background-position: center;
	opacity: 1;
}

.no-page > h1 {
	position: fixed;
	margin: 0;
	bottom: 50px;
	left: 50px;
	font-weight: 600;
	font-size: 5em;
}

.no-page .huge {
	font-size: 2em;
}

.no-page span {
	display: block;
}