<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>音線</title>
    <meta name="description" content="音線">
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
    <div class="barGraph"></div>
    <div class="timeline"></div>
    <div class="visualizer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/visualizer.js"></script>
    <script src="js/bufferLoader.js"></script>
    <script src="js/audio.js"></script>
    <script src="js/onsen.js"></script>
</body>
</html>