.welcome {
    background-color: #000000;
}

.welcome .en {
	color: #FFFFFF;
}

.welcome.fade-exit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.welcome.fade-exit.fade-exit-active {
  transform: translateY(-100%);
  transition: all 1000ms ease-out;
}
