@font-face {
    font-family: Utsukushi;
    src: url("/font/UtsukushiFONT.otf") format("opentype");
}

@font-face {
    font-family: 'Futura Light';
    src: url("/font/futura-light.otf") format("opentype");
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Futura Light', 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

/*
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
*/

/* only here for full colour pages testing purposes */
.full-colour {
	width: 100vw;
	height: 100vh;
}