@font-face {
    font-family: Utsukushi;
    src: url("/font/UtsukushiFONT.otf") format("opentype");
}

@font-face {
    font-family: 'Futura Light';
    src: url("/font/futura-light.otf") format("opentype");
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Futura Light', 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

/*
.slide-enter {
  transform: translateY(100%);
}

.slide-enter.slide-enter-active {
  transform: translateY(0%);
  transition: transform 500ms ease-in;
}
*/


.fade-exit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.fade-exit.fade-exit-active {
  transform: translateY(-100%);
  transition: all 500ms ease-out;
}

.fade-enter {
  opacity: 0;
  /*z-index: 1;*/
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.full-colour {
	width: 100vw;
	height: 100vh;
}